* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    margin-top: 20px;
    margin-left: 20px;
    text-decoration: none;
}

body {
    background-color: #1e1e1e;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    overflow: hidden;
}

a {
    color: aqua;
}