/* ----------------------- */
/* Main                    */
/* ----------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #121212, #060309);
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-x: hidden; 
}

.container {
    display: flex;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap; 
    overflow-x: auto; 
}

.main-content {
    margin-left: 220px;
    padding: 40px 60px;
    overflow-y: auto;
    overflow-x: hidden;
    flex: 1;
}

/* ----------------------- */
/* Status                  */
/* ----------------------- */

.table-container {
    width: 100%;
    margin: 0 auto;
}

.filter-buttons {
    margin-bottom: 20px;
    display: flex;
    justify-content: left; 
    gap: 15px; 
}

.filter-buttons button {
    background-color: #7a4fa1; 
    border: none;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    border-radius: 30px; 
    font-size: 14px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 165px; 
}

.filter-buttons button:hover {
    background-color: #9b5de5; 
    transform: scale(1.05);
}

.filter-buttons button.active {
    background-color: #9b5de5; 
    transform: scale(1.05);
}

table {
    width: 100%;
    border-collapse: collapse;
    word-wrap: break-word; 
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #444;
}

th {
    background-color: #222;
}

tr:nth-child(even) {
    background-color: #1a1a1a;
}

.status-indicator {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.4);
    cursor: default; 
    position: relative;
}

.status-stable {
    background-color: green;
}

.status-unstable {
    background-color: red;
}

.status-dev {
    background-color: blue;
}

.download-btn {
    background-color: #7a4fa1; 
    border: none;
    color: #fff;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

.download-btn:hover {
    background-color: #9b5de5; 
}

td small {
    display: block;
    word-wrap: break-word;
    max-width: 200px;
    white-space: normal;
}

.tooltip {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 3px;
    border-radius: 5px;
    position: absolute;
    top: -25px; 
    left: 50%;
    transform: translateX(-50%); 
    font-size: 10px; 
}

.status-indicator:hover .tooltip {
    visibility: visible;
}

/* ----------------------- */
/* Sections                */
/* ----------------------- */
#title-section {
    text-align: center;
    margin-bottom: 80px;
}

#title-section h1 {
    font-size: 4rem;
    color: #c7a5d9;
    margin-bottom: 5px;
    background: linear-gradient(0deg, #bca8e6, #b19ae5, #a88fe5, #a88fe5);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

#title-section p {
    font-size: 1.25rem;
    color: #bbb;
    background: linear-gradient(0deg, #a88fe5, #a185de, #b373d5, #b373d5);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

section {
    margin-bottom: 80px;
    padding-bottom: 40px;
}

/* ----------------------- */
/* Text                    */
/* ----------------------- */
h2 {
    color: #b373d5;
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: bold;
}

p, li {
    color: #ddd;
    font-size: 1.1rem;
    line-height: 1.8;
    word-wrap: break-word;
    word-break: break-all; 
}

h1, h2, h3 {
    letter-spacing: 1px;
}

h1 {
    font-size: 4rem;
    text-transform: uppercase;
}

h2 {
    font-size: 2.5rem;
}

.plink{
    text-decoration: underline;
    color: #ddd;
}


/* ----------------------- */
/* Sidebar                 */
/* ----------------------- */
.sidebar {
    width: 220px;
    background-color: #0c0c0c;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    z-index: 100;
    transition: background-color 0.3s ease;
}

.sidebar .logo img {
    max-width: 120px;
}

.sidebar ul {
    list-style-type: none;
    margin-top: 40px;
    width: 100%;
}

.sidebar ul li {
    margin: 15px 0;
    width: 100%;
}

.sidebar ul li a {
    color: #b373d5;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    display: block;
    width: 100%;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
    color: #fff;
    background-color: #5e2a8c;
    transform: scale(1.1);
}

.sidebar ul li a.active {
    background-color: #3e1c58;
}

.wver {
    margin-top: auto;
    text-align: center;
    font-size: 0.9rem;
    margin-bottom: -15px;
}

.wver p {
    margin: 0;
    color: #494949;
    font-size: 13px;
}

/* ----------------------- */
/* Footer                  */
/* ----------------------- */
footer {
    color: #bbb;
    padding: 10px;
    text-align: center;
}

footer .social-links {
    margin-top: 10px;
}

footer .social-links a {
    color: #bbb;
    margin: 0 10px;
    font-size: 1.5rem;
}

footer .social-links a:hover {
    color: #b373d5;
}

