* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #fff;
}

header {
    text-align: center;
    padding: 40px;
    background-color: #333;
}

h1 {
    font-size: 2.5rem;
    color: #00d1b2;
}

section#countdowns {
    margin: 40px auto;
    width: 80%;
    max-width: 1000px;
    flex-grow: 1;
}

.countdown-section {
    margin-bottom: 40px;
    text-align: center;
}

.countdown-section h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #00d1b2;
}

.countdown {
    font-size: 1.6rem;
    background-color: #282828;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    width: 100%;
    max-width: 540px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    animation: fadeIn 1s forwards;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    margin-top: auto;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    color: #cccccc;
}

a{
    text-decoration: none;
    color: #43d8b3;
    text-align: center;
    margin-top: 10px;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #121212;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #00d1b2;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #02e3c2;
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #00d1b2 #121212;
}


/* zavináče */
@media (max-width: 600px) {
    .countdown {
        font-size: 1.5rem;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* clr - zavináče */
@keyframes shadowBlurYellow {
    0% {
        box-shadow: 0 0 10px #d4a121;
    }
    50% {
        box-shadow: 0 0 30px #d4a121;
    }
    100% {
        box-shadow: 0 0 10px #d4a121;
    }
}

@keyframes shadowBlurOrange {
    0% {
        box-shadow: 0 0 10px #e67e22;
    }
    50% {
        box-shadow: 0 0 30px #e67e22;
    }
    100% {
        box-shadow: 0 0 10px #e67e22;
    }
}

@keyframes shadowBlurRed {
    0% {
        box-shadow: 0 0 10px #c0392b;
    }
    50% {
        box-shadow: 0 0 30px #c0392b;
    }
    100% {
        box-shadow: 0 0 10px #c0392b;
    }
}

.container {
    width: 68%;
    margin: 20px auto;
}

.category {
    margin-bottom: 20px;
}

.card {
    display: flex;
    align-items: center;
    padding: 15px;
    margin: 100px 0;
    border-radius: 10px;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background: rgba(51, 51, 51, 0.85);
    transition: box-shadow 0.3s ease;
    position: relative;
    border: 2px solid transparent;
    background-image: linear-gradient(#121212, #121212), linear-gradient(45deg, #d4a121, #f4c542);
    background-clip: padding-box, border-box;
    background-size: 100%, 100%;
}

.card:hover {
    filter: brightness(1.05);
    cursor: pointer;
}

.card .icon {
    font-size: 1.5em;
    margin-right: 15px;
    padding: 5px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
}

.card .content {
    flex: 1;
}

.card h3 {
    margin: 0;
    font-size: 1.5em;
}

.card p {
    margin: 5px 0 0;
    font-size: 1em;
}

/**/
.green {
    background: linear-gradient(45deg, #2ecc70, #27ae60, #2ecc71);
    border-color: #27ae60;
    box-shadow: rgb(39, 174, 96) 0px 0px 10px;
}

.yellow {
    background: linear-gradient(45deg, #f4c542, #f2b600, #f4c542);
    border-color: #d4a121;
    animation: shadowBlurYellow 6s infinite;
}

.orange {
    background: linear-gradient(45deg, #f39c12, #e67e22, #f39c12);
    border-color: #e67e22;
    animation: shadowBlurOrange 4.5s infinite;
}

.red {
    background: linear-gradient(45deg, #e74c3c, #c0392b, #e74c3c);
    border-color: #c0392b;
    animation: shadowBlurRed 3s infinite;
}
