/* Global style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #fff;
}

header {
    text-align: center;
    padding: 40px;
    background-color: #333;
}

h1 {
    font-size: 2.5rem;
    color: #00d1b2;
    text-align: center;
}

#countdown-container {
    font-size: 48px;
    font-weight: bold;
}






footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    margin-top: auto;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    color: #cccccc;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #121212;
    border-radius: 10px; 
}

::-webkit-scrollbar-thumb {
    background: #00d1b2; 
    border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
    background: #02e3c2; 
}

/* Firefox */
* {
    scrollbar-width: thin; 
    scrollbar-color: #00d1b2 #121212; 
}   