* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #fff;
}

.container {
    width: 80%;
    margin: 20px auto;
}

.category {
    margin-bottom: 20px;
}

.card {
    display: flex;
    align-items: center;
    padding: 15px;
    margin: 100px 0;
    border-radius: 10px;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background: rgba(51, 51, 51, 0.85);
    transition: box-shadow 0.3s ease;
    position: relative;
    border: 2px solid transparent;
    background-image: linear-gradient(#121212, #121212), linear-gradient(45deg, #d4a121, #f4c542);
    background-clip: padding-box, border-box;
    background-size: 100%, 100%;
}

.card:hover {
    filter: brightness(1.05);
    cursor: pointer;
}

.card .icon {
    font-size: 1.5em;
    margin-right: 15px;
    padding: 5px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
}

.card .content {
    flex: 1;
}

.card h3 {
    margin: 0;
    font-size: 1.5em;
}

.card p {
    margin: 5px 0 0;
    font-size: 1em;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    margin-top: auto;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    color: #cccccc;
}


::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #121212;
    border-radius: 10px; 
}

::-webkit-scrollbar-thumb {
    background: #00d1b2; 
    border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
    background: #02e3c2; 
}

/* Firefox */
* {
    scrollbar-width: thin; 
    scrollbar-color: #00d1b2 #121212; 
}   