.end {
    background: linear-gradient(45deg, #9b59b6, #8e44ad, #9b59b6);
    border-color: #8e44ad;
    animation: shadowBlurEnd 2s infinite;
}

.green {
    background: linear-gradient(45deg, #2ecc70, #27ae60, #2ecc71);
    border-color: #27ae60;
    
}

.yellow {
    background: linear-gradient(45deg, #f4c542, #f2b600, #f4c542);
    border-color: #d4a121;
    animation: shadowBlurYellow 6s infinite;
}

.orange {
    background: linear-gradient(45deg, #f39c12, #e67e22, #f39c12);
    border-color: #e67e22;
    animation: shadowBlurOrange 4.5s infinite;
}

.red {
    background: linear-gradient(45deg, #e74c3c, #c0392b, #e74c3c);
    border-color: #c0392b;
    animation: shadowBlurRed 3s infinite;
}




@keyframes shadowBlurEnd {
    0% {
        box-shadow: 0 0 10px #8e44ad;
    }
    50% {
        box-shadow: 0 0 30px #8e44ad;
    }
    100% {
        box-shadow: 0 0 10px #8e44ad;
    }
}

@keyframes shadowBlurYellow {
    0% {
        box-shadow: 0 0 10px #d4a121;
    }
    50% {
        box-shadow: 0 0 30px #d4a121;
    }
    100% {
        box-shadow: 0 0 10px #d4a121;
    }
}

@keyframes shadowBlurOrange {
    0% {
        box-shadow: 0 0 10px #e67e22;
    }
    50% {
        box-shadow: 0 0 30px #e67e22;
    }
    100% {
        box-shadow: 0 0 10px #e67e22;
    }
}

@keyframes shadowBlurRed {
    0% {
        box-shadow: 0 0 10px #c0392b;
    }
    50% {
        box-shadow: 0 0 30px #c0392b;
    }
    100% {
        box-shadow: 0 0 10px #c0392b;
    }
}
