* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}

#map {
    width: 100%;
    height: 100%;
}

#info {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
}

button {
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px 10px;
    margin: 3px;
    cursor: pointer;
    font-size: 12px;
    line-height: 1.2;
}

button:hover {
    background-color: #ddd;
}

button:disabled {
    background-color: #eee;
    cursor: not-allowed;
    color: #aaa;
    border: 1px solid #ddd;
}

#themeToggleButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding: 5px;
    margin: 3px;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #121212;
    border-radius: 10px; 
}

::-webkit-scrollbar-thumb {
    background: #00d1b2; 
    border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
    background: #02e3c2; 
}

/* Firefox */
* {
    scrollbar-width: thin; 
    scrollbar-color: #00d1b2 #121212; 
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    margin-top: auto;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    color: #cccccc;
}